In [1]:
import pandas as pd

student_load_data = "Resources/students_complete.csv"
school_load_data = "Resources/schools_complete.csv"

student_data_df = pd.read_csv(student_load_data)
school_data_df = pd.read_csv(school_load_data)
student_names = student_data_df["student_name"].tolist()
students_to_fix = []

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
len(students_to_fix)

prefixes = []
suffixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

# Get the unique items in the "suffixes" list.
set(suffixes)
set(prefixes)

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for student in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(student,"")
    
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()
student_names

students_fixed = []
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
len(students_fixed)

/Users/brandon/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: The default value of regex will change from True to False in a future version.

151

In [17]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()

#count specific column
school_data_complete_df["Student ID"].count()

# Calculate the total number of schools.
#1) 
school_count = school_data_df["school_name"].count()

#ORRR 2)
school_count_2 = school_data_complete_df["school_name"].unique()

#and total number of students
student_count = school_data_complete_df["Student ID"].count()

#calculate The total budget
total_budget = school_data_complete_df["budget"].sum()

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()

passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [20]:
passing_math_count = 29370
total_student_count = 39170

passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [24]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

my_grades = pd.Series(my_grades)
my_grades.map({"B" : "A",  "C" : "B", "D" : "C"})

0    A
1    B
2    A
3    C
dtype: object

In [25]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [27]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

df["column"] = df["column"].map("{:,}".format)

0    92
1    85
2    87
3    78
dtype: object

In [43]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format rest of the columns.

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

ValueError: Cannot specify ',' with 's'.

In [44]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",79.0,81.9,75,86,65